@charset "UTF-8";
img {
  max-width: 100%;
  vertical-align: middle; }

figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #888888; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  color: #008800;
  font-weight: bold; }

/* Keyword */
.highlight .ch {
  color: #888888; }

/* Comment.Hashbang */
.highlight .cm {
  color: #888888; }

/* Comment.Multiline */
.highlight .cp {
  color: #cc0000;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .cpf {
  color: #888888; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #888888; }

/* Comment.Single */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #333333; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #666666; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  color: #008800;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #008800;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #008800;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #008800; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #008800;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #888888;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String */
.highlight .na {
  color: #336699; }

/* Name.Attribute */
.highlight .nb {
  color: #003388; }

/* Name.Builtin */
.highlight .nc {
  color: #bb0066;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #003366;
  font-weight: bold; }

/* Name.Constant */
.highlight .nd {
  color: #555555; }

/* Name.Decorator */
.highlight .ne {
  color: #bb0066;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #0066bb;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #336699;
  font-style: italic; }

/* Name.Label */
.highlight .nn {
  color: #bb0066;
  font-weight: bold; }

/* Name.Namespace */
.highlight .py {
  color: #336699;
  font-weight: bold; }

/* Name.Property */
.highlight .nt {
  color: #bb0066;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #336699; }

/* Name.Variable */
.highlight .ow {
  color: #008800; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mb {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Affix */
.highlight .sb {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Char */
.highlight .dl {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Double */
.highlight .se {
  color: #0044dd;
  background-color: #fff0f0; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #3333bb;
  background-color: #fff0f0; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #22bb22;
  background-color: #f0fff0; }

/* Literal.String.Other */
.highlight .sr {
  color: #008800;
  background-color: #fff0ff; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd2200;
  background-color: #fff0f0; }

/* Literal.String.Single */
.highlight .ss {
  color: #aa6600;
  background-color: #fff0f0; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #003388; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #0066bb;
  font-weight: bold; }

/* Name.Function.Magic */
.highlight .vc {
  color: #336699; }

/* Name.Variable.Class */
.highlight .vg {
  color: #dd7700; }

/* Name.Variable.Global */
.highlight .vi {
  color: #3333bb; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #336699; }

/* Name.Variable.Magic */
.highlight .il {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0; }
  h1.header-thin,
  h2.header-thin,
  h3.header-thin,
  h4.header-thin {
    font-weight: 300; }

.h1 {
  font-size: 45px; }
  @media (max-width: 768px) {
    .h1 {
      font-size: 36px; } }

.h2 {
  font-size: 33px; }
  @media (max-width: 768px) {
    .h2 {
      font-size: 27px; } }
  @media (max-width: 600px) {
    .h2 {
      font-size: 24px; } }
  @media (max-width: 400px) {
    .h2 {
      font-size: 21px; } }

.h3 {
  font-size: 27px; }
  @media (max-width: 768px) {
    .h3 {
      font-size: 24px; } }
  @media (max-width: 600px) {
    .h3 {
      font-size: 21px; } }
  @media (max-width: 400px) {
    .h3 {
      font-size: 18px; } }

.h4 {
  font-size: 18px; }

.small {
  font-size: 13px;
  font-weight: 400; }

.weight-light {
  font-weight: 300; }

.weight-normal {
  font-weight: 400; }

b,
strong,
.weight-strong,
.strong {
  font-weight: 500; }

.underline {
  border-bottom: 1px dotted;
  font-style: normal; }

.strike {
  text-decoration: line-through; }

.hr {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  width: 100%; }

.pre {
  background: none;
  font-family: "Source Code Pro", monospace !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.4 !important;
  white-space: pre; }

.input-prefix.input-prefix-monospace::after,
.monospace {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal; }

.sans-serif {
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", sans-serif; }

a {
  color: currentColor;
  text-decoration: none; }

.link {
  cursor: pointer;
  text-decoration: underline; }
  .link:hover, .link:active {
    text-decoration: none; }

.article-body .pre-header .monospace,
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-rtl {
  direction: rtl;
  text-align: left; }

.list-text {
  list-style-type: circle;
  margin: 12px;
  padding: inherit; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-blue {
  color: #0ca6f2; }

.text-gray {
  color: #888; }

.text-gray-light {
  color: #ccc; }

.text-gray-dark {
  color: #555; }

.text-green {
  color: #3ccb5a; }

.text-orange {
  color: #f5a11b; }

.text-purple {
  color: #71438f; }

.text-red {
  color: #f25058; }

.text-white {
  color: #fff; }

.block-quote {
  border-left: 3px solid;
  display: block;
  font-size: 16px;
  line-height: 1.4;
  margin: 15px auto;
  max-width: 600px;
  padding-left: 15px;
  text-align: left;
  text-decoration: none; }
  @media (max-width: 600px) {
    .block-quote {
      margin: 15px 15px 30px; } }
  .block-quote .gravatar {
    float: left;
    margin-right: 6px; }
  .block-quote .iconnables {
    float: left;
    height: 18px;
    left: -2px;
    top: -1px;
    width: 18px; }
  .block-quote .small {
    display: block;
    height: 18px;
    line-height: 18px;
    margin-top: 3px; }

.footer-col-wrapper::before, .footer-col-wrapper::after {
  content: '';
  display: table; }
.footer-col-wrapper::after {
  clear: both; }

.breadcrumbs {
  padding-top: 30px; }
  @media (max-width: 400px) {
    .breadcrumbs {
      font-size: 15px; } }
  .breadcrumbs .link {
    color: #888;
    flex: 0 0 auto;
    padding: 0 12px;
    text-decoration: none; }
    .breadcrumbs .link:hover, .breadcrumbs .link:active {
      color: #555; }
    .breadcrumbs .link.text-overflow {
      flex: 0 1 auto; }
  .breadcrumbs .icons-life-preserver {
    color: #888;
    height: 21px;
    opacity: .75;
    width: 21px; }
    .breadcrumbs .icons-life-preserver:hover, .breadcrumbs .icons-life-preserver:active {
      opacity: 1; }
  .breadcrumbs .icons-chevron-right {
    color: #ccc;
    flex: 0 0 auto;
    height: 12px;
    width: 12px; }

.btn {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap; }
  .btn:hover, .btn:active {
    text-decoration: none; }
  .btn:active {
    transition: none; }
  .btn.active > .icons-add, .btn.in > .icons-add {
    transform: rotate3d(0, 0, 1, 135deg) scale3d(0.75, 0.75, 1); }
  .btn[disabled], .btn.disabled {
    cursor: not-allowed;
    opacity: .5; }
  .btn > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-right: -6px; }
    .btn > .icons-arrow-down.btn-xxs {
      margin-right: -3px; }
  .btn .display .iconnables {
    float: left;
    height: 21px;
    margin-right: 6px;
    top: 6px;
    width: 21px; }

.btn-lg {
  border-radius: 6px;
  font-size: 21px;
  height: 54px;
  line-height: 50px; }

.btn-md {
  font-size: 18px;
  height: 42px;
  line-height: 40px; }

.btn-sm {
  font-size: 16px;
  height: 36px;
  line-height: 34px; }
  .btn-sm > .img {
    float: left;
    margin: 8px 6px 0 0; }

.btn-xs {
  font-size: 13px;
  height: 24px;
  line-height: 22px;
  padding: 0 6px; }
  .btn-xs .tag {
    font-size: 13px;
    height: 16px;
    line-height: 12px;
    margin: 1px 0 0 6px; }

.btn-xxs {
  border-radius: 2px;
  font-size: 12px;
  height: 18px;
  line-height: 16px;
  padding: 0 3px; }

.btn-icon {
  line-height: 42px;
  padding: 0;
  width: 42px; }
  .btn-icon.btn-sm {
    width: 36px; }
  .btn-icon.btn-icon-sm {
    line-height: 36px;
    min-width: 36px;
    width: auto; }
  .btn-icon.btn-icon-xs {
    line-height: 24px;
    min-width: 24px;
    width: auto; }
  .btn-icon.btn-icon-xxs {
    height: 18px;
    line-height: 18px;
    width: 18px; }
  .btn-icon .iconnables {
    height: 100%;
    width: 100%; }
  .btn-icon > .icons-arrow-down {
    width: 24px; }

.btn-help {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #888;
  height: 24px;
  text-decoration: none;
  width: 24px; }
  .btn-help:hover {
    border-color: currentColor;
    color: rgba(12, 166, 242, 0.6); }
  .btn-help:active, .btn-help.active {
    border-color: currentColor;
    color: #0ca6f2; }

.btn-close {
  border-radius: 50%; }
  .btn-close .icons-close {
    color: currentColor; }
  .btn-close.btn-xs .icons-close {
    top: 0; }

.btn-check.active {
  background: #3ccb5a;
  border-color: #3ccb5a; }
  .btn-check.active .icons-add {
    transform: scale3d(0, 0, 0); }
  .btn-check.active .icons-check {
    transform: scale3d(1, 1, 1); }
.btn-check .iconnables {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale3d(0, 0, 0);
  transition: transform .3s ease-in;
  width: 100%; }
.btn-check .icons-add {
  color: #e6e6e6;
  transform: scale3d(1, 1, 1);
  transition: none; }

.blue,
.gray,
.gray-dark,
.green,
.orange,
.purple,
.red,
.white {
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  text-decoration: none; }
  .blue:active,
  .gray:active,
  .gray-dark:active,
  .green:active,
  .orange:active,
  .purple:active,
  .red:active,
  .white:active {
    transition: none; }
  .blue:active, .blue.active,
  .gray:active,
  .gray.active,
  .gray-dark:active,
  .gray-dark.active,
  .green:active,
  .green.active,
  .orange:active,
  .orange.active,
  .purple:active,
  .purple.active,
  .red:active,
  .red.active,
  .white:active,
  .white.active {
    box-shadow: none; }
  .blue.reversed,
  .gray.reversed,
  .gray-dark.reversed,
  .green.reversed,
  .orange.reversed,
  .purple.reversed,
  .red.reversed,
  .white.reversed {
    letter-spacing: 0; }

.blue {
  color: #ccc; }
  .blue.btn:not([disabled]):not(.disabled):hover, .blue.btn:not([disabled]):not(.disabled).hover {
    color: #0ca6f2; }
  .blue.btn:not([disabled]):not(.disabled):active, .blue.btn:not([disabled]):not(.disabled).active, .blue.btn:not([disabled]):not(.disabled).active:hover {
    color: #0ca6f2; }

.gray {
  background: #fafafa;
  border-color: #e6e6e6;
  color: #555; }
  .gray.btn:not([disabled]):not(.disabled):hover, .gray.btn:not([disabled]):not(.disabled).hover {
    background: #fff;
    border-color: #ccc; }
  .gray.btn:not([disabled]):not(.disabled):active, .gray.btn:not([disabled]):not(.disabled).active, .gray.btn:not([disabled]):not(.disabled).active:hover {
    background: #fff;
    border-color: #834fab;
    color: #834fab; }

.gray-dark {
  background: #888;
  border-color: #555; }
  .gray-dark.btn:not([disabled]):not(.disabled):hover, .gray-dark.btn:not([disabled]):not(.disabled).hover {
    background: #555;
    border-color: #222; }
  .gray-dark.btn:not([disabled]):not(.disabled):active, .gray-dark.btn:not([disabled]):not(.disabled).active, .gray-dark.btn:not([disabled]):not(.disabled).active:hover {
    background: #222;
    border-color: #000; }

.green {
  background: #5fd377;
  border-color: #3ccb5a; }
  .green.btn:not([disabled]):not(.disabled):hover, .green.btn:not([disabled]):not(.disabled).hover {
    background: #8ae09c; }
  .green.btn:not([disabled]):not(.disabled):active, .green.btn:not([disabled]):not(.disabled).active, .green.btn:not([disabled]):not(.disabled).active:hover {
    background: #3ccb5a;
    transition: none; }

.orange {
  background: #fcb85d;
  border-color: #f5a11b; }
  .orange.btn:not([disabled]):not(.disabled):hover, .orange.btn:not([disabled]):not(.disabled).hover {
    background: #ffc880; }
  .orange.btn:not([disabled]):not(.disabled):active, .orange.btn:not([disabled]):not(.disabled).active, .orange.btn:not([disabled]):not(.disabled).active:hover {
    background: #f5a11b;
    transition: none; }

.purple {
  color: #834fab; }
  .purple.btn {
    background: #834fab;
    border-color: #fff;
    color: #fff; }
    .purple.btn:not([disabled]):not(.disabled):hover
    .purple.btn:not([disabled]):not(.disabled).hover {
      background: rgba(255, 255, 255, 0.1); }
    .purple.btn:not([disabled]):not(.disabled):active, .purple.btn:not([disabled]):not(.disabled).active, .purple.btn:not([disabled]):not(.disabled).active:hover {
      background: #fff;
      color: #834fab; }
  .purple.btn-group {
    border: 1px solid #fff;
    border-radius: 3px; }
    .purple.btn-group > .btn {
      border: 0;
      border-radius: 0;
      line-height: 36px;
      margin: 0; }

.red {
  color: #f25058; }
  .red.btn {
    background: #f25058;
    border-color: #e62932;
    color: #fff; }
    .red.btn:not([disabled]):not(.disabled):hover, .red.btn:not([disabled]):not(.disabled).hover {
      background: #ef737f; }
    .red.btn:not([disabled]):not(.disabled):active, .red.btn:not([disabled]):not(.disabled).active, .red.btn:not([disabled]):not(.disabled).active:hover {
      background: #e62932; }

.white {
  border-color: #e6e6e6;
  color: #555; }
  .white.btn {
    background: #fff; }
    .white.btn:not([disabled]):not(.disabled):hover, .white.btn:not([disabled]):not(.disabled).hover {
      border-color: #ccc; }
    .white.btn:not([disabled]):not(.disabled):active, .white.btn:not([disabled]):not(.disabled).active, .white.btn:not([disabled]):not(.disabled).active:hover {
      border-color: #834fab;
      color: #834fab; }
      .white.btn:not([disabled]):not(.disabled):active .icons-round, .white.btn:not([disabled]):not(.disabled).active .icons-round, .white.btn:not([disabled]):not(.disabled).active:hover .icons-round {
        background: #834fab; }

.btn-cancel {
  background: transparent;
  border: 1px solid transparent; }
  .btn-cancel:hover, .btn-cancel:active {
    background: #fff; }

.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none; }

.btn-radio {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 72px;
  text-align: center;
  text-decoration: none;
  transition: none;
  user-select: none;
  white-space: nowrap;
  width: 90px; }
  .btn-radio:active, .btn-radio.active {
    color: #834fab;
    cursor: default; }
  .btn-radio.active {
    font-weight: 500; }
  .btn-radio:focus {
    outline: 0; }
  .btn-radio.btn-lg {
    height: 108px;
    width: 120px; }
    .btn-radio.btn-lg .img,
    .btn-radio.btn-lg .iconnables {
      margin-bottom: 6px;
      width: 36px; }
  .btn-radio:last-child {
    margin-right: 0; }
  .btn-radio .img,
  .btn-radio .iconnables {
    display: block;
    height: 33px;
    margin: 0 auto;
    width: 18px; }

.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.075);
  margin: 0 auto;
  width: 450px; }
  @media (max-width: 600px) {
    .card {
      font-size: 17px;
      padding: 15px 15px 30px;
      width: 100%; } }
  @media (max-width: 400px) {
    .card {
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  .card .h1 {
    font-size: 21px;
    font-weight: 500; }
  .card > .img {
    display: block;
    margin: -120px auto 0; }
    @media (max-width: 600px) {
      .card > .img {
        margin-top: -105px;
        width: 150px; } }
  .card .list-item {
    margin-top: 2px; }
  .card .link {
    border: 1px solid transparent;
    border-radius: 6px;
    text-decoration: none; }
    .card .link:hover {
      background: #fafafa;
      border-color: #e6e6e6; }
    .card .link:active, .card .link:focus {
      background: #fff;
      border-color: #834fab;
      color: #834fab; }
  .card .icons-chevron-right {
    float: right;
    height: 18px;
    opacity: .3;
    width: 18px; }

.article.article-faq {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 60px; }
  @media (max-width: 768px) {
    .article.article-faq {
      padding: 60px 30px; } }
  .article.article-faq .question {
    flex: 0 0 33.33%;
    padding: 30px; }
    @media (max-width: 1440px) {
      .article.article-faq .question {
        padding: 30px 21px; } }
    @media (max-width: 1024px) {
      .article.article-faq .question {
        flex: 0 0 50%;
        padding: 30px 21px; } }
    @media (max-width: 768px) {
      .article.article-faq .question {
        flex: 0 0 100%;
        padding: 30px 60px; } }
    @media (max-width: 600px) {
      .article.article-faq .question {
        padding: 30px; } }
    @media (max-width: 400px) {
      .article.article-faq .question {
        padding: 30px 0; } }
  .article.article-faq .h3 {
    font-size: 19px;
    margin: 0; }
  .article.article-faq .p {
    font-size: 16px; }
  .article.article-faq .em {
    color: #ccc;
    font-size: 24px; }

@keyframes always-integrating-down {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, -76px, 0); }
  12.5% {
    opacity: 1; }
  40% {
    transform: scale3d(1, 1, 1) translate3d(0, 54px, 0); }
  45% {
    transform: scale3d(1.1, 1.1, 1) translate3d(0, 54px, 0); }
  50%,
  62.5% {
    transform: scale3d(1, 1, 1) translate3d(0, 54px, 0); }
  90% {
    transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); } }
@keyframes always-integrating-down-md {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, -57px, 0); }
  12.5% {
    opacity: 1; }
  40% {
    transform: scale3d(1, 1, 1) translate3d(0, 40px, 0); }
  45% {
    transform: scale3d(1.1, 1.1, 1) translate3d(0, 40px, 0); }
  50%,
  62.5% {
    transform: scale3d(1, 1, 1) translate3d(0, 40px, 0); }
  90% {
    transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); } }
@keyframes always-integrating-boom {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  40% {
    transform: scale3d(1, 1, 1); }
  45% {
    transform: scale3d(1.1, 1.1, 1); }
  50% {
    transform: scale3d(1, 1, 1); }
  62.5% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); } }
@keyframes always-integrating-boom-md {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  40% {
    transform: scale3d(1, 1, 1); }
  45% {
    transform: scale3d(1.1, 1.1, 1); }
  50% {
    transform: scale3d(1, 1, 1); }
  62.5% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); } }
@keyframes always-testing {
  0%,
  20% {
    transform: scale3d(1, 1, 1); }
  22.5% {
    transform: scale3d(1.1, 1.1, 1.1); }
  32.5%,
  70% {
    transform: scale3d(1, 1, 1); }
  72.5% {
    transform: scale3d(1.1, 1.1, 1.1); }
  82.5%,
  100% {
    transform: scale3d(1, 1, 1); } }
@keyframes always-sharing {
  0%,
  17.5% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, -150%, 0); }
  20% {
    transform: scale3d(1, 1, 1) translate3d(0, -150%, 0); }
  22.5% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.1) translate3d(0, -116.25%, 0); }
  32.5% {
    opacity: 1;
    transform: scale3d(1, 1, 1) transform3d(0, -101.25%, 0); }
  70% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 45%, 0); }
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, 150%, 0); } }
.icon-defintions {
  display: none; }

.icons {
  fill: currentColor; }

.icons-close {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  height: 30px;
  width: 30px; }
  .icons-close:hover {
    background: rgba(242, 80, 88, 0.75); }
  .icons-close:active {
    background: #f25058; }
  .icons-close .icons {
    height: 100%;
    width: 100%; }

input,
textarea {
  cursor: text; }
  input[disabled],
  textarea[disabled] {
    cursor: not-allowed; }

input[type="checkbox"], input[type="radio"] {
  box-shadow: none; }
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  cursor: pointer;
  width: auto; }

.input,
.textarea {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 0 8px;
  resize: none;
  width: 100%;
  word-break: normal; }
@media (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 500px), (min-resolution: 2dppx) and (max-width: 500px) {
  .input,
  .textarea {
    font-size: 16px; } }

  .input.focus, .input:focus,
  .textarea.focus,
  .textarea:focus {
    border-color: #834fab;
    box-shadow: inset 0 0 3px rgba(131, 79, 171, 0.15); }
  .input:focus,
  .textarea:focus {
    transition: none; }
  .input[readonly],
  .textarea[readonly] {
    background: #ccc;
    border: 0;
    color: #fafafa;
    cursor: default; }
  .input[readonly]:focus, .input[required],
  .textarea[readonly]:focus,
  .textarea[required] {
    box-shadow: none; }
  .input.monospace,
  .textarea.monospace {
    letter-spacing: -.25px; }
  .input::placeholder,
  .textarea::placeholder {
    color: #ccc; }

.input {
  height: 42px;
  line-height: 40px; }
  .input[type="search"] {
    border-radius: 42px;
    min-height: 42px; }
    .input[type="search"]::-webkit-search-decoration, .input[type="search"]::-webkit-search-cancel-button, .input[type="search"]::-webkit-search-results-button, .input[type="search"]::-webkit-search-results-decoration {
      display: none; }
  .input.input-sm {
    color: #555;
    height: 36px;
    line-height: 34px; }
    .input.input-sm[type="search"] {
      border-radius: 36px;
      min-height: 36px; }
  .input.input-xs {
    font-size: 13px;
    height: 24px;
    line-height: 1; }
    .input.input-xs[type="search"] {
      border-radius: 24px;
      min-height: 24px; }
  .input.input-xxs {
    font-size: 13px;
    height: 18px;
    line-height: 1; }
    .input.input-xxs[type="search"] {
      border-radius: 18px;
      min-height: 18px; }

input[type="radio"] {
  -webkit-appearance: none;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  height: 12px;
  transition: border-width .1s ease-in;
  width: 12px; }
  input[type="radio"]:hover {
    border-color: #ccc; }
  input[type="radio"]:active, input[type="radio"]:checked {
    border-color: #834fab;
    border-width: 4px; }

#input-upload {
  position: absolute;
  visibility: hidden; }

.input-search {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.2 16.9'><path fill-opacity='.3' d='M7.3,8.9c-0.9,0-1.6-0.7-1.6-1.6c0-1.3-2-1.3-2,0c0.1,2,1.6,3.6,3.6,3.6C8.6,10.9,8.6,8.9,7.3,8.9L7.3,8.9z'/><path fill-opacity='.3' d='M15.9,15.2L12.7,12c1.1-1.3,1.8-2.9,1.8-4.8c0-4-3.3-7.3-7.3-7.3C3.3,0,0,3.3,0,7.3s3.3,7.3,7.3,7.3c1.5,0,2.8-0.4,4-1.2l3.3,3.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C16.3,16.2,16.3,15.6,15.9,15.2z M2,7.3C2,4.4,4.4,2,7.3,2c2.9,0,5.3,2.4,5.3,5.3s-2.4,5.3-5.3,5.3C4.4,12.5,2,10.2,2,7.3z'/></svg>");
  background-position: 51px center;
  background-repeat: no-repeat;
  background-size: 12px;
  border-width: 1px;
  color: #888;
  font-size: 14px;
  padding-left: 72px;
  transition: all .15s ease-in; }
  .input-search:focus, .input-search:valid {
    background-color: #fff;
    background-position: 3px center;
    border-color: #3ccb5a;
    padding-left: 27px !important;
    transition: all .15s ease-in; }

.input-prefix {
  position: relative; }
  .input-prefix::after {
    color: #ccc;
    content: attr(data-prefix);
    display: block;
    font-weight: 500;
    height: 36px;
    left: 0;
    line-height: 36px;
    padding-left: 9px;
    position: absolute;
    text-align: center;
    top: 0; }
  .input-prefix .input {
    padding-left: 12px; }

.input-spinner {
  position: relative; }
  .input-spinner > .input ~ .spinner-wrapper {
    right: -24px;
    top: 14px; }
  .input-spinner > .input-sm ~ .spinner-wrapper {
    top: 11px; }
  .input-spinner > .spinner-wrapper {
    position: absolute; }

.input-group-vertical {
  position: relative; }
  .input-group-vertical .label {
    color: #888;
    font-size: 14px;
    padding: 0 10px;
    position: absolute;
    top: 6px; }
  .input-group-vertical .input-md {
    height: 62px;
    padding-top: 20px; }

.input-validate,
.btn-validate {
  transition: none; }
  .input-validate.invalid, .input-validate:not(.pristine):invalid,
  .btn-validate.invalid,
  .btn-validate:not(.pristine):invalid {
    border-color: #f25058; }
  .input-validate.invalid:valid,
  .btn-validate.invalid:valid {
    border-color: #e6e6e6; }
    .input-validate.invalid:valid:focus,
    .btn-validate.invalid:valid:focus {
      border-color: #834fab; }

@media (max-width: 600px) and (min-width: 350px) {
  .popover-hover-wrapper {
    min-width: 256px; } }

.spinner-wrapper {
  display: flex; }
  .spinner-wrapper .spinner {
    animation: spinner 1s infinite linear;
    fill: none;
    margin: 0 auto;
    stroke-dasharray: 30,6; }
  .spinner-wrapper.spinner-sm .spinner {
    height: 16px;
    width: 16px; }
    .spinner-wrapper.spinner-sm .spinner .path {
      stroke-width: 2; }
  .spinner-wrapper.spinner-md .spinner {
    height: 32px;
    width: 32px; }
    .spinner-wrapper.spinner-md .spinner .path {
      stroke-width: 1.25; }
  .spinner-wrapper.spinner-lg .spinner {
    height: 64px;
    width: 64px; }
    .spinner-wrapper.spinner-lg .spinner .path {
      stroke-width: .75; }
  .spinner-wrapper .path {
    stroke: currentColor; }
  .spinner-wrapper.spinner-blue .path {
    stroke: #0ca6f2; }
  .spinner-wrapper.spinner-purple .path {
    stroke: #834fab; }
  .spinner-wrapper.spinner-white .path {
    stroke: #fff; }
  .spinner-wrapper.spinner-gray .path {
    stroke: #ccc; }
  .spinner-wrapper.spinner-green .path {
    stroke: #3ccb5a; }
  .spinner-wrapper.spinner-center {
    align-items: center;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

@keyframes spinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.table {
  font-size: 16px;
  line-height: 1.6;
  margin: 60px 0;
  text-align: left; }

.table .ul {
  padding-left: 18px; }

.table .li + .li {
  margin-top: 0; }

.tbody .td {
  padding: 12px; }

.tbody .td:first-child {
  border-right: 1px solid #e6e6e6;
  font-weight: 500; }

.tbody .td:nth-child(2) {
  border-right: 1px solid #e6e6e6; }

.tbody .tr + .tr {
  border-top: 1px solid #e6e6e6; }

.td,
.th {
  vertical-align: top; }

.th {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px; }

.th:first-child,
.th:nth-child(2) {
  border-right: 1px solid #e6e6e6; }

.main {
  overflow-x: hidden; }
  .main .article {
    margin: 0 auto;
    max-width: 720px;
    padding: 60px 30px; }
    .main .article + .article {
      border-top: 1px solid #e6e6e6; }
    .main .article .h3 {
      text-decoration: none; }
  .main .avatar {
    border-radius: 50%; }
    @media (max-width: 480px) {
      .main .avatar {
        height: 22px;
        width: 22px; } }
  .main .read-more {
    border-bottom: 2px solid rgba(131, 79, 171, 0.25);
    color: #834fab;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-decoration: none; }
    .main .read-more::after {
      content: ' →'; }
    .main .read-more:hover {
      border-bottom: 2px solid transparent; }
    .main .read-more:active {
      color: #222; }

@media (min-width: 400px) {
  .page-landing .grid-container {
    width: 100%; } }

.section-articles .ol,
.section-articles .ul,
.section-articles .p {
  margin-bottom: 9px; }
.section-articles .ol,
.section-articles .ul {
  list-style-type: circle;
  margin: 0;
  padding-left: 21px; }
.section-articles .hr {
  background: #e6e6e6;
  border: 0;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px; }
  @media (max-width: 600px) {
    .section-articles .hr {
      margin-left: 30px;
      margin-right: 30px;
      max-width: calc(100% - 60px); } }
  .section-articles .hr.hr-footer {
    margin-top: 150px; }
    @media (max-width: 768px) {
      .section-articles .hr.hr-footer {
        margin-top: 60px; } }

.section-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  max-width: 720px;
  padding: 45px 45px 15px;
  width: 100%; }

.hero {
  background: linear-gradient(#834fab, #475496); }
  .hero .h1,
  .hero .h2,
  .hero .h3 {
    max-width: 390px; }

.hero-post {
  height: 99px;
  padding: 0; }

.hero-authors .h1,
.hero-authors .h3 {
  margin: 0 auto; }
.hero-authors .svg {
  height: 24px;
  margin-top: 6px;
  width: 24px; }

.coming-soon {
  margin: 0 auto 30px; }
  .coming-soon .small {
    color: #ccc;
    margin-bottom: 15px; }
  .coming-soon .img {
    opacity: .15; }

.article-body {
  position: relative;
  width: 100%; }
  .article-body.article h4,
  .article-body.article h5,
  .article-body.article h6,
  .article-body.article p,
  .article-body.article ul,
  .article-body.article ol,
  .article-body.article dl,
  .article-body.article figure {
    margin: 15px 0; }
  .article-body h1,
  .article-body h2,
  .article-body h3,
  .article-body h4,
  .article-body h5,
  .article-body h6 {
    font-weight: 500;
    line-height: 1.6;
    padding: 15px 0; }
  .article-body h3 {
    font-size: 24px; }
  .article-body pre {
    background-color: #f3f3f3;
    border-radius: 6px;
    font-size: 15px;
    margin: 30px 0;
    overflow-x: auto;
    padding: 15px;
    word-wrap: normal; }
    .article-body pre > code {
      background: transparent;
      color: inherit;
      padding-left: 0;
      padding-right: 0; }
  .article-body code {
    background-color: #f8f5fc;
    border: 0;
    border-radius: 3px;
    color: #834fab;
    display: inline-block;
    font-size: 15px;
    line-height: 1.4;
    padding: 0 5px; }
    .article-body code.orange {
      background: #fff2d9;
      color: #db970d; }
  .article-body p code {
    word-break: break-word; }
  .article-body .highlight {
    background: #fafafa; }
    .highlighter-rouge .article-body .highlight {
      background: #fafafa; }
  .article-body .pre-header {
    background-color: #e6e6e6;
    border-radius: 3px 3px 0 0;
    color: #888;
    padding: 12px 15px; }
    .article-body .pre-header + pre,
    .article-body .pre-header + .highlighter-rouge > pre,
    .article-body .pre-header + [data-picker-toggle],
    .article-body .pre-header + [data-picker-toggle] > pre,
    .article-body .pre-header + [data-picker-toggle] + [data-picker-toggle],
    .article-body .pre-header + [data-picker-toggle] + [data-picker-toggle] > pre {
      border-radius: 0 0 3px 3px;
      margin-top: 0; }
    .article-body .pre-header .btn {
      font-weight: 500; }
      .article-body .pre-header .btn:hover {
        background: rgba(255, 255, 255, 0.5); }
      .article-body .pre-header .btn:active, .article-body .pre-header .btn.active {
        background: #fff; }
      .article-body .pre-header .btn + .btn {
        margin-left: 6px; }
    .article-body .pre-header .monospace {
      display: block;
      flex: 1 1 auto;
      font-size: 11px; }
      .article-body .pre-header .monospace:not(:only-child) {
        margin-left: 6px;
        text-align: right; }
  .article-body .code-overflow {
    background-color: #f3f3f3;
    color: #888;
    font-size: 27px;
    height: 21px;
    line-height: 3px;
    margin: -36px 0;
    padding: 0 15px;
    position: relative;
    text-align: center;
    z-index: 1; }
    .article-body .code-overflow.code-end {
      border-radius: 0 0 6px 6px;
      margin-bottom: 0; }
  .article-body .gist-data {
    max-height: 240px; }
  .article-body table {
    display: block;
    font-size: 15px;
    margin: 60px 0;
    overflow: auto;
    text-align: left; }
  .article-body thead {
    border-bottom: 1px solid; }
  .article-body th,
  .article-body td {
    min-width: 150px; }
  .article-body th {
    padding: 9px;
    text-align: left;
    white-space: nowrap; }
  .article-body td {
    padding: 9px;
    vertical-align: top; }
    .article-body td > strong {
      white-space: nowrap; }
  .article-body ol,
  .article-body ul {
    padding-left: 30px; }
  .article-body ol {
    list-style-type: decimal; }
  .article-body ul {
    list-style-type: circle; }
  .article-body li + li {
    margin-top: 6px; }
  .article-body blockquote {
    border-left: 1px solid #e6e6e6;
    color: #888;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 30px; }
    .article-body blockquote > :last-child {
      margin-bottom: 0; }
  .article-body a:not(.well-anchor),
  .article-body a:not(.btn) {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline; }
    .article-body a:not(.well-anchor):hover, .article-body a:not(.well-anchor):active,
    .article-body a:not(.btn):hover,
    .article-body a:not(.btn):active {
      text-decoration: none; }
    .article-body a:not(.well-anchor) > code,
    .article-body a:not(.btn) > code {
      text-decoration: underline; }
  .article-body a.btn {
    text-decoration: none; }
  .article-body .indent {
    margin-left: 30px; }
  .article-body .well-anchor:last-child {
    margin-top: 75px; }
  .article-body img {
    height: auto;
    margin-bottom: 15px;
    margin-left: 50%;
    margin-top: 45px;
    max-width: calc(100vw - 60px);
    transform: translateX(-50%); }
  .article-body .img-bordered {
    border: 1px solid #f3f3f3;
    border-radius: 6px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05); }
  .article-body .caption {
    color: #888;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    text-align: center; }
    .post-graphic + .article-body .caption {
      position: relative;
      top: -20px; }
  .article-body .pre-label {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    padding: 6px 12px; }
    .article-body .pre-label + pre {
      border-radius: 0 0 6px 6px; }
  .article-body .footnote {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    margin-top: 60px; }
    .article-body .footnote + .footnote {
      margin-top: 20px; }

.post-details {
  color: #888;
  margin-top: 60px; }
  .post-details .avatar {
    border-radius: 50%;
    margin-bottom: 15px; }

.post-title {
  color: #555;
  line-height: 1.2;
  margin-bottom: 30px;
  max-width: 600px; }

.time-capitalize {
  display: inline-block; }
  .time-capitalize::first-letter {
    text-transform: capitalize; }

.share-item {
  align-items: center;
  display: inline-flex;
  filter: grayscale(1);
  padding: 9px 0;
  text-decoration: none;
  vertical-align: top; }
  .share-item.hidden {
    display: none; }
  .share-item:hover, .share-item:active {
    filter: grayscale(0); }
  .share-item + .share-item {
    margin-left: 15px; }

.share-count {
  margin-left: 6px;
  min-width: 9px;
  opacity: 0;
  transition: opacity .2s ease-in; }
  .share-count.is-loaded {
    opacity: 1; }

.visible-xxxs,
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
  display: none; }

@media (max-width: 350px) {
  .visible-xxxs {
    display: inherit; } }
@media (max-width: 400px) {
  .visible-xxs {
    display: inherit; } }
@media (max-width: 600px) {
  .visible-xs {
    display: inherit; } }
@media (max-width: 768px) {
  .visible-sm {
    display: inherit; } }
@media (max-width: 1024px) {
  .visible-md {
    display: inherit; } }
@media (max-width: 1440px) {
  .visible-lg {
    display: inherit; } }
@media (max-width: 1920px) {
  .visible-xl {
    display: inherit; } }
.hidden-xxxs,
.hidden-xxs,
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg,
.hidden-xl {
  display: inherit; }

@media (max-width: 350px) {
  .hidden-xxxs {
    display: none; } }
@media (max-width: 400px) {
  .hidden-xxs {
    display: none; } }
@media (max-width: 600px) {
  .hidden-xs {
    display: none; } }
@media (max-width: 768px) {
  .hidden-sm {
    display: none; } }
@media (max-width: 1024px) {
  .hidden-md {
    display: none; } }
@media (max-width: 1440px) {
  .hidden-lg {
    display: none; } }
@media (max-width: 1920px) {
  .hidden-xl {
    display: none; } }
