.avatar {
  background-position: center;
  background-size: cover;
  border-radius: 50%;

  .post-info & {
    height: 27px;
    margin-right: 10px;
    margin-top: 1.5px;
    width: 27px;

    @media (max-width: 480px) {
      height: 22px;
      width: 22px;
    }
  }

  // inside cta
  .avatar-list & {
    display: inline-block;
    height: 48px;
    margin: 0 10px;
    width: 48px;
  }
}

.avatar-list {
  height: 48px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate3d(0,-50%,0);

  @media (max-width: 360px) {
    display: none;
  }
}

.avatar-anand-patel {background-image: url(http://runnable.io/images/team/anandpatel.jpg);}
.avatar-anton-podviaznikov {background-image: url(http://runnable.io/images/team/antonpodviaznikov.jpg);}
.avatar-bryan-kendall {background-image: url(http://runnable.io/images/team/bryankendall.jpg);}
.avatar-chris-neill {background-image: url(http://runnable.io/images/team/chrisneill.jpg);}
.avatar-forrest-junod {background-image: url(http://runnable.io/images/team/forrestjunod.jpg);}
.avatar-jorge-silva {background-image: url(http://runnable.io/images/team/jorgesilva.jpg);}
.avatar-nathan-meyers {background-image: url(http://runnable.io/images/team/nathanmeyers.jpg);}
.avatar-praful-rana {background-image: url(http://runnable.io/images/team/prafulrana.jpg);}
.avatar-ryan-kahn {background-image: url(http://runnable.io/images/team/ryankahn.jpg);}
.avatar-ryan-richards {background-image: url(http://runnable.io/images/team/ryanrichards.jpg);}
.avatar-sundip-patel {background-image: url(http://runnable.io/images/team/sundippatel.jpg);}
.avatar-taylor-dolan {background-image: url(http://runnable.io/images/team/taylordolan.jpg);}
.avatar-tony-li {background-image: url(http://runnable.io/images/team/tonyli.jpg);}
.avatar-yash-kumar {background-image: url(http://runnable.io/images/team/yashkumar.jpg);}
