.social-sharing {
  flex: 1 1 auto;
  height: 30px;
  text-align: right;
}

.share-twitter,
.share-linkedin {
  align-items: center;
  display: inline-flex;
  filter: grayscale(1);
  padding: 6px 0;
  text-decoration: none;

  &:first-child {
    margin-right: 12px;
  }

  &:hover {
    filter: grayscale(0);
  }
}

.share-count {
  margin-left: 3px;
  opacity: 0;
  transition: opacity .2s ease-in;

  &.is-loaded {
    opacity: 1;
  }
}
