---
layout: default
---

{% include hero.html %}

<section class="grid-block col grid-container section-articles">
  {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.author] %}
    <article class="article">
      <a class="h3 weight-strong" href="/blog{{ post.url }}">{{ post.title }}</a>
      <div class="grid-block margin-top-sm author">
        <img class="margin-right-xxs avatar" src="{{ site.baseurl }}/images/{{ author.avatar }}" height="27" width="27">
        <span class="post-author text-gray">by <a class="link" href="https://runnable.com/blog/{{ author.author_page }}">{{ author.display_name }}</a> <time datatime="{{ post.date }}">{{ post.date }}</time></span>
      </div>
      <p class="p article-body margin-top-sm">{{ post.excerpt }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Keep reading</a>
    </article>
  {% endfor %}
  <section class="grid-block col shrink justify-center align-center section-footer">
    {% include pagination.html %}
    {% include mailchimp.html %}
  </section>
</section>
