.article-body {
  position: relative;
  width: 100%;

  // be more specific than default css
  &.article {

    // vertical rythm
    p,
    blockquote,
    pre,
    ul,
    ol,
    dl,
    figure,
    .highlight,
    .highlighter-rouge {
      margin-bottom: $md;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $weight-bold;
    line-height: 1.6;
    padding: $sm 0;
  }

  h3 {
    font-size: 24px;
  }

  // code
  pre,
  code {
    background-color: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    font-size: 16px;
    white-space: pre;
  }

  code {
    background: $gray-lightest;
    font-weight: $weight-normal;
    padding: 1px 5px;
  }

  pre {
    overflow-x: auto;
    padding: $sm;

    > code {
      background-color: transparent;
      border: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  p code {
    word-break: break-word;
  }

  .highlight {
    background: $gray-lighterest;

    .highlighter-rouge & {
      background: $gray-lighterest;
    }
  }

  // tables
  table {
    display: block;
    font-size: 15px;
    margin: 60px 0;
    overflow: auto;
    text-align: left;
  }

  thead {
    border-bottom: 1px solid;
  }

  th,
  td {
    min-width: 150px;
  }

  th {
    padding: 9px;
    text-align: left;
    white-space: nowrap;
  }

  td {
    padding: 9px;
    vertical-align: top;

    > strong {
      white-space: nowrap;
    }
  }

  // lists
  ol,
  ul {
    padding-left: 30px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: circle;
  }

  li + li {
    margin-top: 6px;
  }

  // blockquote
  blockquote {
    border-left: $input-border solid $gray-lighter;
    color: $gray;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 30px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  // link
  a:not(.well-anchor),
  a:not(.btn) {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  a.btn {
    text-decoration: none;
  }

  // utility
  .indent {
    margin-left: 30px;
  }

  // next cta
  .well-anchor:last-child {
    margin-top: 75px;
  }

  img {
    height: auto;
    margin-bottom: $sm;
    margin-left: 50%;
    margin-top: $lg;
    max-width: calc(100vw - 60px);
    transform: translateX(-50%);
  }

  .img-bordered {
    border: 1px solid $gray-lightest;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 15px rgba($black,.05);
  }

  // captions
  .caption {
    color: $gray;
    font-size: 13px;
    font-style: italic;
    font-weight: $weight-bold;
    text-align: center;

    .post-graphic + & {
      position: relative;
      top: -20px;
    }
  }

  .pre-label {
    background: $gray-lighterest;
    border: $input-border solid $gray-lighter;
    border-bottom: 0;
    border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
    font-size: 13px;
    font-weight: $weight-bold;
    margin-top: 30px;
    padding: 6px 12px;

    + pre {
      border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    }
  }

  .footnote {
    color: $gray;
    font-size: 13px;
    font-weight: $weight-normal;
    margin-top: 60px;

    + .footnote {
      margin-top: 20px;
    }
  }
}
