---
layout: default
---

<div class="grid-block col align-center hero hero-post"></div>

<div class="grid-block grid-container col noscroll">
  <div class="grid-block align-center col post-details">
    <h1 class="h1 text-center weight-strong margin-top-sm post-title">{{ page.title }}</h1>
    {% assign author = site.data.authors[page.author] %}
    <img class="avatar" src="images/{{ author.avatar }}" width="45" height="45">
    <div>by {{ author.display_name }}</div>
    <div>{{ page.date | timeago }} in {{ page.category }}</div>
    <div class="grid-block social-sharing" data-url="http://runnable.com/blog{{ page.url }}" data-legacy-url="{{ page.legacy_url }}">
      <a target="_blank" href="http://twitter.com/intent/tweet?url=http://runnable.com/blog{{ page.url }}&via=GetRunnable" class="share-item share-twitter">
        <img src="images/logos/logo-twitter.svg" width="20" height="20">
        <span class="share-count small">0</span>
      </a>
      <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://runnable.com/blog{{ page.url }}" class="share-item share-linkedin">
        <img src="images/logos/logo-linkedin.svg" width="20" height="20">
        <span class="share-count small">0</span>
      </a>
      <a target="_blank" href="#" class="share-item share-hackernews hidden">
        <img src="images/logos/logo-hackernews.svg" width="20" height="20">
        <span class="share-count small">0</span>
      </a>
    </div>
  </div>
  <article class="article article-body">
    {{ content }}
  </article>

  <section class="grid-block col shrink justify-center align-center section-footer">
    <a class="grid-block shrink link text-center margin-bottom-lg margin-top-lg" href="{{ site.baseurl }}/">View All Posts</a>
    {% include mailchimp.html %}
  </section>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/social-buttons.js"></script>
